@import "../../sass/variables";
@import "../../sass/vendor/bootstrap-includes";

.about-container, .press-container, .post-container {
  display: block !important;
  margin-top: calc(#{$page_navbar_margin} + #{$nav-link-height} - #{$nav-link-padding-y * 2});
  &:before {
    background-image: url("../../images/post.svg");
    background-repeat: repeat, repeat;
    background-position: center top;
    background-size: cover;
    content: '';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .02;
  }
}

.home-container {
  h1 {
    line-height: 1.2 !important;
  }
}

.jobs-list-container {
  overflow-y: scroll;
  height: calc(100vh - 72px);
}

.header {
  h1, h4 {
    margin-top: 30px;
  }
  .display-4 {
    font-weight: 500;
  }
  h4 {
    font-weight: 400;
  }
}

.content {
  h3 {
    margin: 60px 0 25px 0;
  }
  h4 {
    font-size: 1.2rem;
  }
  p {
    margin-bottom: 20px;
  }
  button {
    margin: 25px 0px;
  }
}

@media (max-width: 767px) {
  .home-container {
    text-align: center;
    margin-top: calc(#{$page_navbar_margin} + #{$nav-link-height} - #{$nav-link-padding-y * 2});
    .title {
      font-size: 2.5rem !important;
      line-height: 1.2 !important;
    }
  }
  .jobs-list-container {
    height: calc(100vh - 72px - 3rem);
    background-color: transparent !important;
  }
  .jobs-col-left {
    display: none;
  }
  .jobs-col-right {
    margin-top: 3.6rem !important;
  }
  .home-col-right {
    margin-bottom: 3rem !important;
  }
}

@media (min-width: 767px) {
  .home-container, .jobs-list-container {
    .container {
      height: 100% !important;
      &-fluid {
        height: 100% !important;
      }
      .row {
        height: 100% !important;
      }
    }
    .title {
      font-size: 3.5rem !important;
    }
  }
  .jobs-col-left {
    padding-right: 3rem !important;
  }
  .home-col-right {
    padding-left: 3rem !important;
  }
}