.half-bg {
  position: absolute;
  right: 0;
  transition: all 0.4s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 767px) {
  .half-bg {
    display: none;
  }
}