.custom-img {
  width: 100%;
  padding-top: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-wd {
  background-image: url("../../../../../images/wd.svg");
}

.img-hr {
  background-image: url("../../../../../images/hr.svg");
}
